__pycache__/
*.py[cod]

bin/
Data/fname.csv
Data/station.dat
Data/waveform_mseed/
Data/waveform_sac/
Pick/SeisBench/picks/
Pick/SeisBench/results/
REAL/*.catalog_sel.txt
REAL/*.phase_sel.txt
REAL/*.hypolocSA.dat
REAL/*.hypophase.dat
REAL/catalog_allday.txt
REAL/catalogSA_allday.txt
REAL/phase_allday.txt
REAL/phaseSA_allday.txt
REAL/phase_best_allday.txt
NonLinLoc/obs/
NonLinLoc/obs_files/
NonLinLoc/run/
NonLinLoc/time/
NonLinLoc/loc/
NonLinLoc/tmp/
NonLinLoc/ssst/
NonLinLoc/nlloc.in
NonLinLoc/loc2ssst.in
